!This is EDoH config file;
!This file must write like this
! http/https#yourwebsites.com
! or
! http/https#yourwebsites.com@0.0.0.0
! replace yourwebsites.com to your domain and 0.0.0.0 to the ip address of your websiets
!Enjoy using EDoH
!
!
!
!By SecretGhost

!----Edoh Default Server start(May con not use)----
http#edoh.somee.com@66.85.73.146
http#www.edoh.somee.com@66.85.73.146
!----Edoh Default Server End----